<!DOCTYPE html>
<html>
<head>
  <title>Thêm dữ liệu</title>
</head>
<body>
  <h1>Thêm dữ liệu</h1>
  <form action="/add" method="POST">
    <label for="column1Value">Tên:</label>
    <input type="text" name="column1Value" id="column1Value" required><br><br>
    <label for="column2Value">Email:</label>
    <input type="text" name="column2Value" id="column2Value" required><br><br>
    <label for="column3Value">Phone:</label>
    <input type="text" name="column3Value" id="column3Value" required><br><br>
    <input type="submit" value="Thêm">
  </form>
</body>
</html>
