<!DOCTYPE html>
<html>

<head>
    <title>Demo MVC App</title>
</head>

<body>
    <h1>Dữ liệu từ MySQL</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Họ tên</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        <tr>
            <!-- <% data.forEach(item=> { %> -->
                <td>
                    <%= Id%>
                </td>
                <td>
                    <%= item.Name%>
                </td>
                <td>
                    <%= item.Email%>
                </td>
                <td>
                    <%= item.Phone%>
                </td>
        </tr>
        <!-- <% }); %> -->
    </table>
    <br>
    <button><a href="/add">cập nhật</a></button>
     </body>

</html>