<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./css/header.css">

 
     
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <header>
        <div class="global-header-container text13">
            <div class="global-header-top-group font-500">
                <div class="container d-flex align-items-center justify-content-between position-relative">
                    <div class="global-header-left d-flex align-items-center">
                        <div class="item"> <i class="fa-solid fa-map-pin"></i>Địa chỉ liên hệ</div>
                        <div class="item"> <i class="fa-solid fa-headset"></i> Hotline trực tuyến</div>
                        <a href="https://shopee.vn/SA-35610180" class="title"> <i class="fa-brands fa-shopify"></i>
                            Shopee</a>

                        <a href="https://www.lazada.vn/shop/lacdaushop/" class="title"> <i class="fa-solid fa-store"></i>
                            Lazada</a>

                        <a href="https://www.instagram.com/lac.dau/" target="_blank" class="title">
                            <i class="fab fa-instagram"></i> Instagram
                        </a>
                        <a href="https://www.tiktok.com/@lacdaustore" target="_blank" class="title">
                            <i class="fab fa-tiktok"></i> Tiktok
                        </a>
                        <a href="https://www.youtube.com/channel/UC0kL-L4W-QBwgwqCv408J2A" target="_blank"
                            class="title">
                            <i class="fab fa-youtube"></i> Youtube
                        </a>
                        <a href="https://www.facebook.com/lacdaustore" target="_blank" class="title">
                            <i class="fab fa-facebook-square"></i> Facebook
                        </a>
                    </div>
                    <div class="global-header-right">
                        <a href="/tin-tuc" class="title"> <i class="fa-solid fa-bullhorn"></i> Tin tức</a>
                        <i class="fa-solid fa-circle-user"></i>
                        <a href="/dang-ky">Đăng ký</a> &nbsp;/&nbsp;
                        <a href="/dang-nhap">Đăng nhập</a>
                    </div>
                </div>

            </div>
            <div class="global-header-bottom-group">
                 <div class="container d-flex align-items-center justify-content-between position-relative">
                    <a href="#" class="header-left-group">
                    <img src="./assets/default/images/logo.png" alt="Lắc đầu"  class="d-block m-auto h-auto w-auto"></a>
                    <div class="header-menu-group">
                        <div class="title">
                            <i class="fa-solid fa-list"></i> DANH MỤC
                        </div>
                    </div>
                    <div class="header-search-group">
                        <form method="get" action="/tim" name="search" class="search-input-group bg-white position-relative">
                            <button type="submit" class="btn-search icons"><i class="fa-solid fa-magnifying-glass"></i></button>
                            <input type="text" id="js-seach-input" name="q" placeholder="Bạn cần tìm gì?" value="" autocomplete="off" class="text-search">                        
                        </form>
                    </div>
                    <div class="header-right-group">4</div>
                </div>
            </div>

           


        </div>
    </header>


    <main>
        <p>Xin chào! Đây là nội dung trang web của tôi.</p>
    </main>

    <footer>
        <p>Bản quyền © 2023. Trang web của tôi.</p>
    </footer>
</body>

</html>