<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 

        <h1>Dữ liệu từ MySQL</h1>
  <table border="1">
    <tr>
      <th>ID</th>
      <th>Họ tên</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Action</th>
    </tr>
   
      <tr>
        <td>
          <%= data[0].Id%>
        </td>
        <td>
          <%= data[0].username%>
        </td>
        <td>
          <%= data[0].email%>
        </td>
        <td>
          <%= data[0].password%>
        </td>
        <td>
          
        </td>
      </tr>
     
  </table>
</body>
</html>