main{
    background-color: #f5f5f5;
}
div{
    display: block;
}
body{
    word-break: break-word;
    
}
a{
    text-decoration: none;
}
.position-relative {
    position: relative!important;
}
.container{
    /* padding: 0 6px; */
    margin: 0 8%;
    
}
.homepage{
    padding-top: 11px;
}


.homepage .home-banner-group {
    width: 1277px;
    min-height: 840px;
    
}

.homepage .home-banner-group {
    margin: auto 0 20px auto;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}


.homepage .home-slider-holder {
    width: 955px;
}

.homepage .home-slider-holder {
    /* width: 715px; */
    margin: 0 12px 11px 0;
}

.slider-container {
    width: 100%;
    z-index: 1;
}

.slider-container img{
    border-radius: 20px;
    width: 100%;
}

.homepage .home-right-holder {
    width: 310px;
}
.homepage .home-right-holder a {
    display: block;
    margin-bottom: 10px;
}
.hover-img a{
    position: relative;
    overflow: hidden;
    display: block;
}
a {
    text-decoration: none;
}


.homepage .home-under-holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.homepage .home-under-holder a {
    margin: 0 12px 0 0;
    width: calc(100% / 3 - 8px);
}
.homepage .home-under-holder a:nth-child(3n) {
    margin-right: 0;
}

.home-collection-group {
    margin: 20px 0;
    padding: 25px 0 30px;
    border-radius: 20px;
    overflow: hidden;
    background-position: center;
    background-size: 100% 100%;
    min-height: 580px;
}

.home-collection-group .box-title-group {
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}
.home-collection-group .box-title-group a:first-child {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 20px;
}
.home-collection-group .box-title-group a:first-child {
    font-weight: 900;
    padding: 0;
    display: table;
    margin: 0 auto 16px auto;
}
.home-collection-group .box-title-group a {
    color: #fff;
    font-family: 'Mulish',sans-serif;
}
.home-collection-group .box-title-group a {
    font-size: 16px;
    line-height: 20px;
}
.home-collection-group .box-title-group a {
    color: #fff;
    display: inline-flex;
    position: relative;
    padding-right: 18px;
    margin-right: 18px;
}



.homepage .p-container {
    padding: 0 12px;
    /* background-color: wheat; */
    display: flex;
    flex-direction: row;
}
.item{
    margin-right: 15px;
    background-color: white;
    width: 250px;
    border-radius: 10px;
}
.item img{
    margin: 10px 10px 15px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.item span{
    margin: 0 10px;
    
}
.item:hover .product-detail{
    color: #29A07E;
}
.item span:nth-child(2n){
    color: gray;
    font-size: 13px;
}
.item span:nth-child(3n){
    float: right;
    font-size: 12px;
}


.product-detail{
    margin: 5px 10px 30px 10px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
   
    display: -webkit-box;
   -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
}

.product-count{
    display: flex;
    flex-direction: row;
}

.product-count span{
    color: #29A07E;
    font-weight: bold;
    font-size: 25px;
}
.add-to-cart{
    margin-left: 60px;
    background-color: #CFEAC1;
    border-radius: 50px;
    cursor: pointer;
}

.add-to-cart i{
    font-size: 25px;
    padding: 7px 3px;
}
.add-to-cart:hover {
    background-color: #29A07E;
}


.home-collection-group .btn-collection {
    margin: 25px auto 0;
}

.home-collection-group .btn-collection {
    display: block;
    
    text-align: center;
    width: 140px;
    line-height: 44px;
    border: 1px solid #FFF;
    border-radius: 22px;
    color: #fff;
}
.fa{
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.global-breadcumb{
    position: relative;
    padding-top: 22px;
    padding-bottom: 15px;
    margin-bottom: 13px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.global-breadcrumb li {
    float: left;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.global-breadcrumb li a {
    color: #000;
}
meta {
    display: none;
}
*{
    box-sizing: border-box;
}
.global-breadcrumb li::after {
    content: '/';
    padding: 0 7px;
}
::after{
    box-sizing: border-box;
}
.clearfix::after{
    content: '';
    clear: both;
    display: block;
}

.bg-white {
    background: #fff;
}
.bg-white {
    background-color: #fff!important;
}

.account-index {
    padding: 20px 0;
}
.row {
    margin: 0 -6px;
}
.row {
    display: flex;
    
}

.account-left {
    line-height: 2.4;
    width: 40%!important;
}

.col-md-3, .col-md-9{
    padding: 0 6px;
    position: relative;
    width: 100%;
}

.d-block {
    display: block!important;
}
b {
    font-weight: 700;
}
.account-index .btn-left {
    background-color: #6c757d;
    border-color: #6c757d;
    width: 100%;
    margin: 0 0 10px 0;
    color: #fff !important;
    line-height: 38px;
    padding: 0;
}

.btn {
    display: inline-block;
    font-weight: 400;

    text-align: center;
    vertical-align: middle;

    user-select: none;

    border: 1px solid transparent;
      font-size: 1rem;
     border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.text-white {
    color: #fff!important;
}
.d-inline-block {
    display: inline-block!important;
}
.account-right {
    padding: 0 15px;
}

.info-page{
    display: none;
}

.font-600 {
    font-weight: 600;
}
.text-22 {
    font-size: 22px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
form {
    display: block;
    margin-top: 0em;
}
table {
    width: 100%;
    border-collapse: collapse;
    display: table;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
    text-indent: initial;
    border-spacing: 2px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
.form-input {
    width: 100%;
    height: 34px;
    border-radius: 3px;
    border: solid 1px #ccc;
    padding: 0 5px;

    max-width: 100%;
}
 input {
    font-size: 14px;
    overflow: visible;
}
.bg-green {
    background: #29A07E;
}
button {
    outline: none!important;
    text-transform: none;
    overflow: visible;
    cursor: pointer;
}
.change-password{
    display: none;
}


.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.status-cart{
    display:none;
}


.home-p-category-group {
    padding: 30px 12px 0;
}
.home-p-category-group {
    
    background: linear-gradient(270deg,#FFC34E 2.54%,#FF8B49 86.96%);
    border-radius: 20px;
   
}

.home-p-category-group .box-title {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 30px;
}
.home-p-category-group .box-title {
    color: #fff;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}
p {
    margin-top: 0;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.flex-wrap {
    flex-wrap: wrap!important;
}
.d-flex {
    display: flex!important;
}

.home-p-category-group .item {
    padding: 18px 18px 26px;
}
.home-p-category-group .item {
    margin: 0 9px 12px 0;
    background: #FFF;
    border-radius: 15px;
    width: calc(100% / 4 - 9px);
    overflow: hidden;

}
.home-p-category-group img {
    display: block;
    margin: auto;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
.home-p-category-group .text {
    font-size: 20px;
    line-height: 25px;
}
.home-p-category-group .text {
    color: #000;
    margin: 20px 0 0;
    position: relative;
}
.home-p-category-group .text span {
    margin: 10px 0 0;
    line-height: 25px;
}
.home-p-category-group .text span {
    display: block;
}
.green{
    color: #29A07E;
}
.home-p-category-group .icon-arrow {
    width: 50px;
    height: 50px;
    background-size: 12px 24px;
}
.home-p-category-group .icon-arrow {
    position: absolute;
    top: 3px;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(../assets/icon/icon-next.png) no-repeat center;
    background-size: 10px 20px;
    background-color: #F5F5F5;
    -webkit-transition: .2s all;
    transition: .2s all;
}
i {
    font-style: italic;
}

.product-page{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.product-page .col-left {
    width: 310px;
}

.product-page .col-left {
    display: flex;
    margin-right: 12px;
    background: #fff;
    border-radius: 20px;
    padding: 20px 12px;
}
.product-page .col-right {
    width: 100%;
}
.product-page .col-right {
    display: block;
}

.product-filter-container .filter-item {
    margin-bottom: 35px;
}
.product-filter-container .box-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #D9D9D9;
    text-transform: uppercase;
}

.product-filter-container a {

    display: flex;
    align-items: center;
    position: relative;
    font-weight: 300;
    padding: 5px 0;
    color: #000;
}
.product-filter-container .icon-square {
    background: #f4f4f4;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    margin-right: 14px;
}
.product-filter-container .title {
    width: calc(100% - 30px);
}
.filter-btn-holder {
    text-align: center;
}
.product-filter-container .filter-item:last-child {
    margin: 0;
}

.product-page .page-title-group {
    font-size: 16px;

}
.product-page .page-title-group {
    margin-bottom: 15px;
}
.product-page .page-title-group .page-title {
    font-weight: 900;
    font-size: 30px;
    line-height: 38px;
}
.product-page .page-title-group .page-title {
    text-transform: uppercase;
    margin: 0 10px 0 0;
}
.product-page .page-title-group * {
    display: inline-block;
}

.product-page .product-holder-group {
    background: #fff;
    border-radius: 20px;

}

.product-page .sort-by-group {
    padding: 18px 12px;
    font-size: 16px;
    -webkit-box-pack: justify;

    justify-content: space-between;
}

.product-page .sort-by-group {
   
    border-bottom: 1px solid #F4F4F4;

    display: flex;
    -webkit-box-align: center;

    align-items: center;
}
.product-page .sort-by-list {
 
    display: flex;
    -webkit-box-align: center;

    align-items: center;
    margin-right: 20px;
}

.align-items-center {
    
    align-items: center!important;
}
.justify-content-end {
    
    justify-content: flex-end!important;
}

.product-page .sort-by-list a {
    line-height: 42px;
    width: 128px;
    margin-right: 8px;
}
.product-page .sort-by-list a {
    border: 1px dashed #29A07E;
    border-radius: 21px;
    text-align: center;
    color: #29A07E;
}
.product-page .sort-by-list a:last-child {
    margin: 0;
}

.product-page .choose-price-holder {
    margin-right: 10px;
}
.product-page .choose-price-holder .price-range {
    width: 126px;
    height: 42px;
    font-size: 16px;
}
.product-page .choose-price-holder .price-range {
    color: #777;
    border: 1px solid #D9D9D9;
    border-radius: 21px;
    text-align: center;
}

.product-page .choose-price-holder .submit-filter {
    width: 66px;
    height: 42px;
    line-height: 42px;
}
.product-page .choose-price-holder .submit-filter {
    margin-left: 6px;

    text-align: center;
    background: #29A07E;
    border-radius: 21px;
    color: #FFF;
}

.product-page .sort-select-item {
    width: 165px;
    height: 42px;
    font-size: 16px;
    padding-left: 10px;
}
.product-page .sort-select-item {
  
    border: 1px solid #D9D9D9;
    border-radius: 21px;
   
}
 select {
    outline: none!important;
}
option {
    font-weight: normal;
    display: block;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.product-page .display-group {
  
    display: flex;
    -webkit-box-align: center;
    
    align-items: center;
}
.product-page .display-group a {
    width: 25px;
    height: 25px;
    background-size: 260px;
}
.product-page .display-group a {
    margin-left: 8px;

}
.product-page .icon-grid {
    background-position: -232px -163px;
}
.product-page .icon-list {
    background-position: -232px -95px;
}
.icons {
    background: url(../assets/images/sprite.png) no-repeat;
}

.product-page .p-container {
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
}
.product-page .p-item {
    width: calc(100% / 5 - 12px);
    padding: 10px 10px 25px;
}
.product-page .p-item {
    margin: 0 12px 12px 0;
    box-shadow: 0 1px 5px rgba(0,0,0,0.15);
    border-radius: 15px;
}
.p-item {
    background: #FFF;
}

.p-item .p-img {
    margin-bottom: 14px;
}

.p-item .p-img {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    padding-bottom: 100%;
}
.p-item a {
    display: block;
    color: #000;
}

.p-item img {
    border-radius: 15px;
    transition: .4s all;
    transform: scale(1);
}
.p-item img {
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.justify-content-between {
    justify-content: space-between!important;
}

.p-item .p-sku {
    line-height: 22px;
    margin-bottom: 4px;
}
.p-item .p-sku{
    font-size: 13px;
    line-height: 16px;
}
.p-item .p-sku {

    color: #777;
 
}
.p-item .p-qty.conhang {
    color: green;
}

.p-item .p-qty {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 7px;
}
.p-item .p-name {
    margin-bottom: 16px;
}
.p-item .p-name {
    font-size: 13px;
    line-height: 16px;
}
.p-item .p-name {
    font-weight: 700;
    height: 45px;
}
 .p-item .p-name{
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
a:-webkit-any-link {
    cursor: pointer;
}

.p-item .p-price-container {
    height: 42px;
    position: relative;
}
.p-item .p-price {
    font-size: 20px;
    line-height: 25px;
}
.p-item .p-price {
    color: #29A07E;
    font-weight: 800;
    display: block;
}
.p-item .p-btn-cart {
    width: 38px;
    height: 38px;
    top: 5px;
    background-size: 24px;
}
.p-item .p-btn-cart {
    background: url(../assets/images/p-cart.png) no-repeat center;
  
    background-size: 20px;
    background-color: #CFEAC1;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    right: 0;
    -webkit-transition: .2s all;
    transition: .2s all;
}
.p-item a {
    display: block;
    color: #000;
}
.product-page .p-item:nth-child(4n) {
    margin-right: 12px;
}

.paging {

    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
   
    justify-content: center;
    text-align: center;
    padding: 16px 0 27px;
    
}

.paging a:hover, .paging a.current {
    font-weight: 600;
    color: #fff;
    background: #29A07E;
}
.paging a {
    width: 38px;
    height: 38px;
    line-height: 38px;
    border-radius: 50%;
    color: #333;
    background: #F4F4F4;
    margin: 0 6px;
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product-page .static-html-group {
    border-top: 1px solid #F4F4F4;
    padding: 16px 12px;
}

.btn-html-content {
    text-align: center;
    padding: 10px;
}