body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* color: #333;
    font-family: 'Mulish',sans-serif;
    background: #f5f5f5;
    position: relative;
    font-size: 14px;
    min-width: 1212px;
    word-break: break-word;
    counter-reset: section; */
}
div{
    display: block;
    font-family: Helvetica;
}
a {
    text-decoration: none;
}
.text-13{
    font-size: 18px;
}
.position-relative{
    position: relative;
}
.align-items-center{
    align-items: center!important;
}
.justify-content-between{
    justify-content: space-between!important;
}
.d-flex{
    display: flex!important;
}

.flex-wrap {
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
}



.global-header-container{
    width: 100%;
    background-color:firebrick;
    font-weight: 500;
    box-sizing: border-box;
    font-size: 14px;
    z-index: 2;
    position: relative;
}
.global-header-top-group{
    display: block;
    background-color: #29A07E;
    padding: 5px 0;
}
.global-header-top-group a{
    color: white;
    text-decoration: none;
}
.global-header-top-group a:hover{
    text-decoration: none;
}

.container{
    /* padding: 0 6px; */
    margin: 0 8%;
    
}

.global-header-top-group .item {
    padding: 4px 12px;
    background-color:rgb(253, 255, 128);
    color: #005F44;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    margin-right: 7px;
    align-items: center;
    font-family: Helvetica;
}
 i{
    font-size: 20px;
    margin: 0 5px;
    
}

.global-header-top-group .title {
    color: #fff;
    line-height: 28px;
    margin: 0 20px 0 0;
    display: flex;
    align-items: center;
    font-family: Helvetica;
}

.global-header-left{
    display: flex;
    align-items: center;
}


.global-header-top-group .global-header-right {
    color: #fff;
    font-weight: 700;
    line-height: 28px;
    display: flex;
    align-items: center;
}

.global-header-top-group .header-content-holder-left{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 100;
    -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.3);
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.3);
    border-radius: 0 0 10px 10px;
    padding: 15px;
    top: calc(100% + 5px);
}

.adress-hover:hover .header-content-holder-left{
    display: flex;
}

.global-header-top-group .header-content-holder-left .support-item{
    width: calc(100% / 2 - 8px);
    margin: 0 15px 15px 0;
}
.global-header-top-group .header-content-holder-left .support-item .title {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background: #299f7e;
    padding: 5px 12px;
    border-radius: 5px;
    margin: 0 0 8px;
}
.global-header-top-group .header-content-holder-left a {
    display: block;
    color: #000;
    font-size: 15px;
    margin-bottom: 15px;
}

.global-header-top-group .header-content-holder-left .support-item iframe {
    height: 300px!important;
}

.header-content-holder-left a:hover {
    color: #299f7e ;
}

.global-header-top-group .header-content-holder-right {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 100;
    -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.3);
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.3);
    border-radius: 0 0 10px 10px;
    padding: 15px;
    top: calc(100% + 5px);
}


.hotline-hover:hover .header-content-holder-right{
    display: flex;
}

.global-header-top-group .header-content-holder-right .support-item .title {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background: #299f7e;
    padding: 5px 12px;
    border-radius: 5px;
    margin: 0 0 8px;
}

.global-header-top-group .header-content-holder-right .support-item {
    width: calc(100% / 2 - 8px);
    margin: 0 15px 15px 0;
}

.global-header-top-group .header-content-holder-right .support-item:nth-child(2n) {
    margin-right: 0;
}

.global-header-top-group .header-content-holder-right a {
    display: block;
    color: #000;
    font-size: 15px;
    margin-bottom: 15px;
}



.header-content-holder-right a:hover {
    color: #299f7e ;
}


.global-header-middle-group{
    font-size: 16px;
    padding: 6px 0;
    position: relative;
}



.global-header-bottom-group{
    display: block;
    /* làm xong thì đổi màu trắng */
    background-color: white;
    padding: 5px 0;
}

.global-header-bottom-group .title {
    color: #fff;
    line-height: 28px;
    margin: 0 20px 0 0;
    display: flex;
    align-items: center;
    font-family: Helvetica;
}

.header-left-group img{
    width: 150px;
    height: 100px;
}
img{
    vertical-align: middle;
    border-style: none;
}

.header-menu-group {
    margin: 0;
    background-color:#29A07E;
    border-radius: 10px;
    color: #fff;
    padding: 10px 12px;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;


}

.header-menu-group .menu-list {
    width: 310px;
    height: 840px;
}
.header-menu-group .menu-list {
    position: absolute;
    /* width: 230px;
    height: 630px; */
    background: white;
    border-radius: 20px;
    left: 0;
    top: 100%;
    margin-top: 11px;
}

.header-menu-group .item {
    height: calc(100% / 11);
    padding: 0 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.header-menu-group .item:first-child {
    border-radius: 20px 20px 0 0;
}
.header-menu-group .cat-1 {
    font-size: 19px;
}
.header-menu-group .cat-1 {
    font-weight: 500;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.header-menu-group .sub-menu {
    width: calc(1600px - 310px);
    height: 810px;
    left: 310px;
    font-size: 19px;
}


.header-menu-group .sub-menu {
    display: none;
    position: absolute;
    background: white;
    z-index: 4;
    overflow: auto;
    top: 0;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
    border-radius: 12px;
    padding: 15px;
}
.header-menu-group .sub-item {
    float: left;
    width: 23%;
    padding: 0 20px 0 0;
    margin-bottom: 20px;
}

.header-menu-group .sub-item a {
    margin-bottom: 12px;
    font-size: 16px !important;
}
.header-menu-group .sub-item .cat-2 {
    font-weight: 700;
    color: #29A07E;
}
.header-menu-group a {
    display: block;
    color: #000;
}
.sub-item a:hover{
    color:#29A07E;
}
.item-hover-1:hover {
    background-color: #29A07E;
}
.item-hover-1:hover .menu-hover-1{
    display: block;
}

.item-hover-2:hover {
    background-color: #29A07E;
}
.item-hover-2:hover .menu-hover-2{
    display: block;
}

.item-hover-3:hover {
    background-color: #29A07E;
}
.item-hover-3:hover .menu-hover-3{
    display: block;
}
.item-hover-4:hover {
    background-color: #29A07E;
}
.item-hover-4:hover .menu-hover-4{
    display: block;
}
.item-hover-5:hover {
    background-color: #29A07E;
}
.item-hover-5:hover .menu-hover-5{
    display: block;
}
.item-hover-6:hover {
    background-color: #29A07E;
}
.item-hover-6:hover .menu-hover-6{
    display: block;
}
.item-hover-7:hover {
    background-color: #29A07E;
}
.item-hover-7:hover .menu-hover-7{
    display: block;
}
.item-hover-8:hover {
    background-color: #29A07E;
}
.item-hover-8:hover .menu-hover-8{
    display: block;
}
.item-hover-9:hover {
    background-color: #29A07E;
}
.item-hover-9:hover .menu-hover-9{
    display: block;
}
.item-hover-10:hover {
    background-color: #29A07E;
}
.item-hover-10:hover .menu-hover-10{
    display: block;
}
.item-hover-11:hover {
    background-color: #29A07E;
}
.item-hover-11:hover .menu-hover-11{
    display: block;
}




.header-search-group{
    background-color: white;
    padding: 10px 0;
    padding-right: 200px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px rgb(196, 194, 194);
}
button i{
    cursor: pointer;
}

.header-search-group button{
    border: 0;
    background-color: white;
}
input:focus{
    outline: none;
}

.header-search-group .text-search{
    border: 0;
}

.header-right-group{
    display: flex;
    flex-wrap: flex;
    align-items: center;
}
.header-right-group b{
    color: #29A07E;
}
.header-right-group .text{
    display: block;
    line-height: 18px;
    color: black;
}
.header-right-group .item:nth-child(1){
    border-right:1px solid rgb(41,160,126,0.3);
}
.header-right-group .item{
    padding: 2px 15px 2px 0;
    margin-right: 15px;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
}

.header-right-group .item-cart{
    background: white;
    box-shadow: 0 0 0 1px #29A07E;
    border-radius: 10px;
    width:147px;
    line-height: 42px;
    text-align: center;
    justify-content: center;
}

.header-cart-hover{
    border-radius: 10px;
    overflow: hidden;
    color: #222;
    padding: 10px 0 0 0;
    transition: .2s all;
    position: absolute;
    top: calc(100% + 1px);
    right: 0;
    z-index: 9;
    box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.2);
    background: #fff;
    display: none;
    width: 400px;
    text-align: center;
}
.item-cart a{
    color: black;
    font-weight: bold;
}

.item-cart:hover .header-cart-hover{
display: block;
}

